<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBgInC06BVTHHJ34tT0W1aCL6rA3XU2m-M</string>
	<key>GCM_SENDER_ID</key>
	<string>924871265359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pharmaNew</string>
	<key>PROJECT_ID</key>
	<string>pharma-d27ac</string>
	<key>STORAGE_BUCKET</key>
	<string>pharma-d27ac.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924871265359:ios:21b1ae1ed871a91be2ae3a</string>
</dict>
</plist>